html, body {
    margin: 0;
    padding: 0;
    height: 1%;
    font-family: 'Arial Black', 'Arial Bold', sans-serif;
    background-image: url("/resources/errors/errors-css/errors-images/background-error.png");
}

.box {
    position: absolute;
    display: block;
    border: 1px solid #24252D;
    border-radius: 6px;
}

#messageBox {
    height: 345px;
    width: 270px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 20px;
    overflow-x: hidden;
    background-color: #2B2C34;
}

#userBox {
    height: 345px;
    width: 98px;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 20px;
    margin-left: 332px;
    left: 2px;
    overflow-x: hidden;
    background-color: #2B2C34;
}

#textBox {
    height: 50px;
    width: 326px;
    padding-left: 4px;
    padding-top: 3px;
    top: 369px;
    overflow: auto;
    outline: 0;
    background-color: #30333B;
}

.button {
    position: absolute;
    display: block;
    color: white;
    cursor: pointer;
    outline: 0;
    background-color: #272830;
    border-radius: 6px;
    border: 0;
}

#loginButton {
    height: 23px;
    width: 68px;
}

#sendButton {
    height: 21px;
    width: 64px;
}

.buttonBox {
    position: absolute;
    height: 23px;
    width: 100%;
    top: 426px;
}

.loginBox {
    position: absolute;
    height: 23px;
    width: 137px;
    top: 369px;
    left: 334px;
}

.t3d {
    position: relative;
    height: 450px;
    width: 970px;
    margin-left: 25%;
    margin-top: 15%;
}

.t3d:hover .chatWindow{
    transform: rotateY(180deg);
}

.chatWindow {
    position: absolute;
    height: 447px;
    width: 483px;
    transition: 1s;
    transform-style: preserve-3d;
}

.message {
    font-size: 240px;
    margin-left: 51%;
    height: 447px;
    width: 483px;
    color: #FFF;
    line-height: 300px;
}